In [8]:
import openpyxl

In [9]:
import pandas as pd

In [21]:
df1 = pd.read_excel (r'C:\Users\rratnappan\OneDrive - Foundation Medicine Inc\Desktop\Anaconda_Test.xlsx')
df2 = pd.read_excel (r'C:\Users\rratnappan\OneDrive - Foundation Medicine Inc\Desktop\Anaconda_Test2.xlsx')
print (df1)
print(df2)

     Name  Age Department
0   Arjun   19         CS
1   Karan   20         EC
2   Harsh   20         CS
3  Rakesh   21         IT
4   Namit   19         IT
     Name            Courses
0   Arjun  machine Learninig
1   Harsh     OOPS with Java
2  Rakesh    Web Development
3   Raman     OOPS with Java
4   Karan     Data Structure

In [22]:
inner = pd.merge(df1,
                     df2,
                     on = "Name",
                     how = "inner")
inner

     Name  Age Department            Courses
0   Arjun   19         CS  machine Learninig
1   Karan   20         EC     Data Structure
2   Harsh   20         CS     OOPS with Java
3  Rakesh   21         IT    Web Development

In [23]:
Left = pd.merge(df1,
                     df2,
                     on = "Name",
                     how = "left")
Left

     Name  Age Department            Courses
0   Arjun   19         CS  machine Learninig
1   Karan   20         EC     Data Structure
2   Harsh   20         CS     OOPS with Java
3  Rakesh   21         IT    Web Development
4   Namit   19         IT                NaN

In [24]:
Right = pd.merge(df1,
                     df2,
                     on = "Name",
                     how = "right")
Right

     Name   Age Department            Courses
0   Arjun  19.0         CS  machine Learninig
1   Harsh  20.0         CS     OOPS with Java
2  Rakesh  21.0         IT    Web Development
3   Raman   NaN        NaN     OOPS with Java
4   Karan  20.0         EC     Data Structure

In [27]:
Outer = pd.merge(df1,
                     df2,
                     on = "Name",
                     how = "outer")
Outer

     Name   Age Department            Courses
0   Arjun  19.0         CS  machine Learninig
1   Karan  20.0         EC     Data Structure
2   Harsh  20.0         CS     OOPS with Java
3  Rakesh  21.0         IT    Web Development
4   Namit  19.0         IT                NaN
5   Raman   NaN        NaN     OOPS with Java

In [29]:
df3="Outer"

In [30]:
print(df3)

Outer

In [31]:
Outer

     Name   Age Department            Courses
0   Arjun  19.0         CS  machine Learninig
1   Karan  20.0         EC     Data Structure
2   Harsh  20.0         CS     OOPS with Java
3  Rakesh  21.0         IT    Web Development
4   Namit  19.0         IT                NaN
5   Raman   NaN        NaN     OOPS with Java

In [33]:
df3-pd.Dataframe("Outer")

AttributeError: module 'pandas' has no attribute 'Dataframe'

In [38]:
Outer.to_excel(r"C:\Users\rratnappan\OneDrive - Foundation Medicine Inc\Desktop\Outer.xlsx")

In [35]:
print(Outer)

     Name   Age Department            Courses
0   Arjun  19.0         CS  machine Learninig
1   Karan  20.0         EC     Data Structure
2   Harsh  20.0         CS     OOPS with Java
3  Rakesh  21.0         IT    Web Development
4   Namit  19.0         IT                NaN
5   Raman   NaN        NaN     OOPS with Java

In [44]:
A = 10

In [45]:
B = 20

In [46]:
C = 15

In [62]:
if(B == 15):
    print("Karan is 15 years old")
    else (A<11):
        print("I love you")

SyntaxError: invalid syntax (989575810.py, line 3)

In [65]:
if("Ramesh" in ["Ramesh", "t", "k"]):
   print("Aye Aye Captian")

Aye Aye Captian

In [77]:
Black_pearl = 10
Fly_dutchman = 19
if(Black_pearl > Fly_dutchman):
    print ("jack Sparrow is the captain")
elif(Black_pearl == Fly_dutchman):
    print("Jaggard")
else:
    print ("Blackbeard is the captian")

Blackbeard is the captian

In [151]:
Jack = 85
Davy_Jones= 1000
Blackbeard =100000
Singapore = "Shipwreckcove"

if (Jack < 82):
               if (Jack > 5):
                              if(Jack >30):                                                             
                                            print("Jack is young")
elif(Davy_Jones >10000):
        print("Davy Jones is in his locker")
        
elif(Blackbeard < 10000):
        print("Blackbeard is in his PJs")
        
elif(Singapore == "Shipwreckcove"):
        print("Meeting of 9 pieces of 8")
else: 
    print("All pirates drink rum")

Meeting of 9 pieces of 8

In [168]:
Jack = 521
if (Jack < 82):
    print("Jack is young")
elif(Jack>83 and Jack <500):
    print("Jack is old")
elif(Jack > 501 and Jack <1000):
    print("Jack is wise")
else:
    print("Jack is an old tree")

Jack is wise

In [174]:
Jack = 10000
if (Jack < 82): print("Jack is young")
elif(Jack>83 and Jack <500):print("Jack is old")
elif(Jack > 501 and Jack <1000):print("Jack is wise")
else:print("Jack is an old tree")

Jack is an old tree

In [176]:
if(Jack > 1001): print("The age of Jack is:"); print(Jack)

The age of Jack is:
10000

In [193]:
if (" Sparrow" in "Jack Sparrow"): print ("Monkey");print('Kraken')
else: print ('test')

test

In [203]:
if ("Sparrow" in "Jack Sperrow"): print ("Monkey");print('Kraken')
elif ("Jack" in "Jack Sparrow"): print("Dave")
else:     print("test")

Dave

In [2]:
Jack= "Pearl"
Davy = "Dutchman"
Dad = "No_ship"

if (Jack=="Pearl" and Davy == "Dutchman" and Dad == "No_ship"):
  print("Aye")

Aye

In [9]:
def Person():
    print("Late")

In [10]:
Person()

Late

In [11]:
def Jack ():
    print ("Jack had Rum")

In [12]:
Jack()

Jack had Rum

In [20]:
def range_from_Jack_to_Pearl (Jack, Pearl):
    for i in range (Jack, Pearl+2):
        print(i)
if __name_ == &quot;__main_&quot;:
    Jack = int(input(&quot; Enter a start number:&quot;))
    Pearl = int(input(&quot; Enter a end number:&quot))
    range_from_1_to_20(Jack, Pearl)

SyntaxError: invalid syntax (676375266.py, line 4)

In [19]:
def range_from_start_to_end(start, end):
 
    for i in range(start, end+1):
        print(i)
 
if __name__ == &quot;__main__&quot;:
    start = int(input(&quot;Enter a start number: &quot;))
    end = int(input(&quot;Enter an end number: &quot;))
    # Call our function to print the ranges
    range_from_1_to_20(start, end)

SyntaxError: invalid syntax (461765781.py, line 6)

In [46]:

c = "cats"

In [49]:
print (c[2])

t

In [55]:
fifth_letter = "MONTY" [4]

In [58]:
print  (fifth_letter)

Y

In [68]:
pi= ("3.14")
str(pi)

'3.14'

In [96]:
ministry = "The Ministry of Silly Walks"

print (ministry.upper())

THE MINISTRY OF SILLY WALKS

In [101]:
day = 6
print ("03 - %s - 2019" % (day))

03 - 6 - 2019

In [102]:
print ("03 - %02d - 2019" % (day))

03 - 06 - 2019

In [108]:
T =("is")
R= ("Jack")
print("%s now %s drunk" %(R, T))

Jack now is drunk

In [115]:
my_string = ("delta")
len(my_string)
my_string.upper()

'DELTA'

In [119]:
my_string = "delta"
print(len(my_string))
print (my_string.upper())

5
DELTA

In [120]:
from datetime import datetime

In [145]:
now = datetime.now()

In [146]:
print(now)

2022-07-25 17:26:50.790191

In [147]:

print(now.minute)

26

In [152]:
from datetime import datetime
now = datetime.now()
print ('%02d/%02d/%04d' % (now.month, now.day, now.year))

07/25/2022

In [154]:
17<328

True

In [167]:
if (100 == (2 * 51)):
  bool_one = True
else:
  bool_one=False

In [168]:
print (bool_one)

False

In [169]:
bool_one = False and False

In [170]:
bool_two = -(-(-(-2))) == -2 and 4 >= 16 ** 0.5

In [172]:
bool_three = 19 % 4 != 300 / 10 / 10 and False

In [173]:
bool_four = -(1 ** 2) < 2 ** 0 and 10 % 10 <= 20 - 10 * 2

In [176]:
bool_five = True and True

In [177]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [180]:
bool_three = 100**0.5 >= 50
print(bool_three)

False

In [181]:
bool_five = 1**100 == 100**1 or 3*2 *1 != 3+2+1
print(bool_five)

False

In [188]:
bool_one = 2**3 == 108 % 100 or 4 == 5
print(bool_one)

True

In [189]:
bool_one = not True

In [190]:
print(bool_one)

False

In [191]:
bool_2 = not 3 ** 4 < 4 ** 3

In [192]:
print(bool_2)

True

In [194]:
bool_three = not 10 % 3 <= 10 % 2
print(bool_three)

True

In [195]:
bool_four  = not 3 ** 2 + 4 ** 2 != 5 ** 2

In [197]:
print(bool_four)

True

In [198]:
bool_five = not not False

In [199]:
print(bool_five)

False

In [200]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

In [201]:
print(bool("Hello"))
print(bool(15))

True
True

In [210]:
bool('abc')
bool(123)
bool([0, "cherry", "banana"])

True

In [215]:

bool(())
bool([])
bool({})

False

In [219]:
if 6 > 5:
return "Success #1"

IndentationError: expected an indented block (2542803824.py, line 2)

In [221]:
def using_control_once():
    if 6 > 5:
        return "Success #1"

def using_control_again():
    if 7 > 5:
        return "Success #2"

print (using_control_once())
print (using_control_again())

Success #1
Success #2

In [223]:
answer = "'Tis but a scratch!"

def black_knight():
    if answer == "'Tis but a scratch!":
        return True
    else:             
        return False       # Make sure this returns False

def french_soldier():
    if answer == "Go away, or I shall taunt you a second time!":
        return True
    else:             
        return False       # Make sure this returns False

print (black_knight())
print (french_soldier())

True
False

In [231]:
def greater_less_equal_5(answer):
    if answer > 5:
        return 1
    elif answer < 5:          
        return -1
    else:
        return 0
        
print (greater_less_equal_5(4))
print (greater_less_equal_5(5))
print (greater_less_equal_5(6))

-1
0
1

In [238]:
# Complete the if and elif statements!
def grade_converter(grade):
    if grade > 90:
        return "A"
    elif grade >= 80 and grade <= 89:
        return "B"
    elif grade >= 70 and grade <= 79:
        return "C"
    elif grade >= 65 and grade <= 69:
        return "D"
    else:
        return "F"
      
# This should print an "A"      
print (grade_converter(92))

# This should print a "C"
print (grade_converter(70))

# This should print an "F"
print (grade_converter(61))

SyntaxError: invalid syntax (1167286949.py, line 1)

In [236]:
def grade_converter(grade):
    if grade >= 90:
        return "A"
    elif grade >= 80:
        return "B"
    elif grade >= 70:
        return "C"
    elif grade >= 65:
        return "D"
    else:
        return "F"
      
# This should print an "A"      
print (grade_converter(92))

# This should print a "C"
print (grade_converter(70))

# This should print an "F"
print (grade_converter(61))

A
C
F

In [244]:
# Complete the if and elif statements!
def grade_converter(grade):
    if grade >= 90:
        return "A"
    elif grade >= 80 and grade <= 89:
        return "B"
    elif grade >= 70 and grade <= 79:
        return "C"
    elif grade >= 65 and grade <= 69:
        return "D"
    else:
        return "F"
      
# This should print an "A"      
print (grade_converter(90))

# This should print a "C"
print (grade_converter(70))

# This should print an "F"
print (grade_converter(61))

A
C
F

In [6]:
def Jack_Sparrow(rum):
    if rum == "dil":
        return "Let's go"
    elif rum >=80:
        return "Yoho"
    else:
        return"Go back"
print (Jack_Sparrow("dil"))

Let's go

In [15]:
Jack_Sparrow = ""
if len(Jack_Sparrow) > 0:
    print ('Yoho')
else: 
    print ("empty")

empty

In [22]:
Jack = "Rum"
if len(Jack) > 2 and len (Jack) < 10 and Jack.isalpha():
    print ("yoho")
else:
    print("G")

yoho

In [29]:
Jack = input('Where is Davy Jones:')
print("I want to steal the Pearl")

Where is Davy Jones:Guarding the Pearl
I want to steal the Pearl

In [32]:
pyg = 'ay'

original = input('Enter a word:')
word = original.lower()
first = word[0]
second = word[1]

if len(original) > 0 and original.isalpha():
    print ("Done")
else:
    print ('empty')


print (word)
print(first)
print(second)

Enter a word:Hello
Done
hello
h
e

In [ ]:
Jack = input('Where is Davy Jones:')
print("I want to steal the Pearl")
if len(Jack) > 1 and Jack.isalpha():
    print("Yoho")
elif (len(Jack) < 5 and Jack.isfloat()):
    print("turbulence")
else:
    print("done with it")
    
I = Jack.lower()
U = Jack.upper()
Y = len(Jack)
u = Jack[1]

print (I, U, Y, u)

In [ ]:
pyg = 'ay'

original = input('Enter a word:')

if len(original) > 0 and original.isalpha():
    print ('original')
else:
    print ('empty')

word = (original.lower())
first = word[0]
new_word = word + first + pyg
print (word)
print (first)
print (new_word)

In [ ]:
pyg = 'ay'
Jack = input ('Where is Davy Jones?:')
word = Jack.lower()
new_word = Jack + word+ pyg
new_word = (Jack[1:len(new_word)])

In [ ]:
print('dust')

In [12]:
def Jack(Pearl):
    if (Pearl > 80):
        return("y")
    elif(Pearl == 50):
        return("K")
    else:
        return("o")
    
print (Jack(81))

y

In [3]:
B = True
while B == True:
    Aye = input("Who is the best pirate?")
    if Aye == "Jack":
        print("Yoho")
        B = False
    elif Aye == "Barbosa":
        print("No")
        B=False
    else: 
        print ("Try again")

Who is the best pirate?me
Try again
Who is the best pirate?k
Try again
Who is the best pirate?kfjf
Try again
Who is the best pirate?Barbosa
No

In [16]:
def myship(Pearl = ''):

    if Pearl>100:
        return"yeay"
    elif Pearl <90:
        return"Singapore"
    else:
        return"Barbossa"

g = myship(Pearl = 95)
print(g)

Barbossa

In [12]:
print("i")

i

In [22]:
def spam():
  print ("Eggs!")
spam()

Eggs!

In [34]:
def square(n):
  """Returns the square of a number."""
  squared = n ** 2
  print( "%f squared is %f." % (n, squared))
  return squared
  
square(10.2)

10.200000 squared is 104.040000.

104.03999999999999

In [36]:
def power(base, exponent):  # Add your parameters here!
  result = base ** exponent
  print ("%d to the power of %d is %d." % (base, exponent, result))

power(40, 4)

40 to the power of 4 is 2560000.

In [42]:
def one_good_turn(n):
  return n + 1
    
def deserves_another(n):
  return n + 2

one_good_turn(10)

11

In [45]:
def one_good_turn(n):
  return n + 1
    
def deserves_another(n):
  return one_good_turn(n) + 2

deserves_another(2)

5

In [76]:
A = "ATCTTATCTTATCGGATCTCATCAAATCGGATCCCATC"
if [i:i+len(A[3])] == ATC:
    count = count+1

SyntaxError: invalid syntax (2400147396.py, line 2)

In [81]:
Text = "ATCTTATCTTATCGGATCTCATCAAATCGGATCCCATC"
if Text[i:i+len(Text)] == ATC:
    count = count+1

TypeError: can only concatenate str (not "int") to str

In [55]:
fruits = ["apple", "3", "10", "2XYTH", "cherry"]
for g in fruits:
  print(g)

apple
3
10
2XYTH
cherry

In [63]:
for x in "atc":
    print(x)

a
t
c

In [75]:
fruits = ["apple", "3", "10", "2XYTH", "cherry"]
for g in fruits:
    print(g)
    if g == "10":
        break
    print(g)

apple
apple
3
3
10

In [90]:
for number in range(10
                   ):
    print(5*number)

0
5
10
15
20
25
30
35
40
45

In [99]:
def cube(number):
  return number * number * number
cube(10)

1000

In [109]:
def cube(number):
  return(number*number*number)

def by_three(number):
    if( number % 3 == 0):
        return (number +2)
    else: 
        print("y")
by_three(31)

y

In [117]:
def cube(number):
  return(number*number*number)

def by_three(number):
  if(number % 3 == 0):
    return cube(number)
False
by_three(31)

SyntaxError: 'return' outside function (578984521.py, line 7)

In [120]:
import math
print (math.sqrt(25))

5.0

In [147]:
my_list = "mouse", [8, 4, 6], ['a']
print (my_list)

('mouse', [8, 4, 6], ['a'])

In [143]:
Text = "ATCTTATCTTATCGGATCTCATCAAATCGGATCCCATCATC"
Pattern = "ATC"
count = 0

for i in range(len(Text)-len(Pattern)+1):
        if Text[i:i+len(Pattern)] == Pattern:
            count = count+1 
            print (count)

1
2
3
4
5
6
7
8
9

In [227]:
def Pearl(Jacks_DNA, pattern):
    count = 0
    for j in range (len(Jacks_DNA)-len(pattern)+1):
        if Jacks_DNA[j:j+len(pattern)] == pattern:
            count = count+1
    return count
Jacks_DNA ="rumthrumgjgjrumrumgjgjgtumkjgjgjrumhghghrumdhdhrum"
pattern = "rum"
print(Pearl(Jacks_DNA, pattern))

7

In [257]:
def shut_down (s):
    if s == "yes":
        return "Shutting down"
    elif s == "no":
        return "Shutdown aborted"
    else:
        return "Sorry"

In [259]:
from math import sqrt

In [233]:
def PatternCount(Text, Pattern):
    # fill in your function here
    count = 0
    for i in range(len(Text)-len(Pattern)+1):
        if Text[i:i+len(Pattern)] == Pattern:
            count = count+1
    return count
Text ="ATCAATGATCAACGTAAGCTTCTAAGCATGATCAAGGTGCTCACACAGTTTATCCACAACCTGAGTGGATGACATCAAGATAGGTCGTTGTATCTCCTTCCTCTCGTACTCTCATGACCACGGAAAGATGATCAAGAGAGGATGATTTCTTGGCCATATCGCAATGAATACTTGTGACTTGTGCTTCCAATTGACATCTTCAGCGCCATATTGCGCTGGCCAAGGTGACGGAGCGGGATTACGAAAGCATGATCATGGCTGTTGTTCTGTTTATCTTGTTTTGACTGAGACTTGTTAGGATAGACGGTTTTTCATCACTGACTAGCCAAAGCCTTACTCTGCCTGACATCGACCGTAAATTGATAATGAATTTACATGCTTCCGCGACGATTTACCTCTTGATCATCGATCCGATTGAAGATCTTCAATTGTTAATTCTCTTGCCTCGACTCATAGCCATGATGAGCTCTTGATCATGTTTCCTTAACCCTCTATTTTTTACGGAAGAATGATCAAGCTGCTGCTCTTGATCATCGTTTC"
k = "TGATC"
print(PatternCount(Text, k))

8

In [237]:
def FrequencyMap(Text, k):
    freq = {}
    n = len(Text)
    for i in range(n-k+1):
        Pattern = Text[i:i+k]
        freq[Pattern] = 0
    return freq
Text = "ATCAATGATCAACGTAAGCTTCTAAGCATGATCAAGGTGCTCACACAGTTTATCCACAACCTGAGTGGATGACATCAAGATAGGTCGTTGTATCTCCTTCCTCTCGTACTCTCATGACCACGGAAAGATGATCAAGAGAGGATGATTTCTTGGCCATATCGCAATGAATACTTGTGACTTGTGCTTCCAATTGACATCTTCAGCGCCATATTGCGCTGGCCAAGGTGACGGAGCGGGATTACGAAAGCATGATCATGGCTGTTGTTCTGTTTATCTTGTTTTGACTGAGACTTGTTAGGATAGACGGTTTTTCATCACTGACTAGCCAAAGCCTTACTCTGCCTGACATCGACCGTAAATTGATAATGAATTTACATGCTTCCGCGACGATTTACCTCTTGATCATCGATCCGATTGAAGATCTTCAATTGTTAATTCTCTTGCCTCGACTCATAGCCATGATGAGCTCTTGATCATGTTTCCTTAACCCTCTATTTTTTACGGAAGAATGATCAAGCTGCTGCTCTTGATCATCGTTTC"
k = "3"
print(FrequencyMap(Text, k))

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [293]:
#def number(by_3, by_5, by_both):
n = input("Type a number: ")
N = int(n)
if (N % 3 == 0 and N % 5 == 0):
    print ("FizBuzz")
elif (N % 3 == 0):
    print ("Fiz")
elif (N % 5 == 0):
    print ("Buz")
else:
    print(N)

Type a number: abc

ValueError: invalid literal for int() with base 10: 'abc'

In [ ]:
def number(div):
if (div % 3 == 0):
    return ("Jack")
elif (div % 5 == 0):
    return ("Sparrow")
else:
    return ("Jack Sparrow")

print (number(10))

In [295]:
for i in range(1):
    if i % 3 == 0 and i % 5 == 0:
        print('fizzbuzz')
    elif i % 3 == 0 and i % 5 != 0:
        print('fizz')
    elif i % 3 != 0 and i % 5 == 0:
        print('buzz')
    else:
        print(i)

fizzbuzz

In [314]:
def distance_from_zero(y):
    if type(y) == int or type(y) == float:
        return (abs(y))
    else:
        return("Nope")
print (distance_from_zero(-10))

10

In [320]:
def distance_from_zero(y):
    if y == type(int) or y == type (float):
        return (abs(y))
    else:
        return "Nope"

In [334]:
def answer():
    return ()
print (answer())

()

In [330]:
print(41)

41

In [338]:
def hotel_cost(nights):
    return (nights * 140)
print (hotel_cost(10))

1400

In [364]:
def plane_ride_cost(city):
    if(city == "Charlotte"):
        return(183)
    elif(city == "Tampa"):
        return(220)
    elif(city == "Pittsburgh"):
        return(22)
    elif(city == "Los Angeles"):
        return(475)
print (plane_ride_cost('Los Angeles'))

475

In [374]:
def rental_car_cost(days):
    if (days >= 7):
        return (days*40) - 50
    elif (days >= 3):
        return (days*40) - 20
    else:
        return days*40
print (rental_car_cost(2.5))

100.0

In [406]:
suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]

# The first and second items (index zero and one)
first = suitcase[0:2]

# Third and fourth items (index two and three)
middle = suitcase[2:4]

# The last two items (index four and five)
last = suitcase[3:6]

print (first, middle, last)

animals = ["ant", "bat", "cat"]
print (suitcase.index("shoes"))

['sunglasses', 'hat'] ['passport', 'laptop'] ['laptop', 'suit', 'shoes']
5

In [402]:
animals = "catdogfrog"

# The first three characters of animals
cat = animals[:3]

# The fourth through sixth characters
dog = animals[3:6]

# From the seventh character to the end
frog = animals[6:]

print (cat, dog, frog)

cat dog frog

In [405]:
animals = ["ant", "bat", "cat"]
print (animals.index("ant"))

0

In [407]:
Jack = ["rum", "pearl", "compass"]

In [408]:
Jack.insert(2, "Barbosa")

In [409]:
print (Jack)

['rum', 'pearl', 'Barbosa', 'compass']

In [411]:
Jack.insert(0, "kraken")

In [412]:
print(Jack
    )

['kraken', 'rum', 'pearl', 'Barbosa', 'compass']

In [416]:
animals = ["aardvark", "badger", "duck", "emu", "fennec fox"]
duck_index = animals.index("duck")
print(duck_index)

# Your code here!
animals.insert(duck_index, "cobra")

print (animals)
 # Observe what prints after the insert operation

2
['aardvark', 'badger', 'cobra', 'duck', 'emu', 'fennec fox']

In [418]:
my_list = [10, 15, 20]
for n in my_list:
    print(3*n)

30
45
60

In [426]:
start_list = [5, 3, 1, 2, 4]
square_list = []
for x in start_list:
    square_list.append(x**2)
    square_list.sort()

In [427]:
print (square_list)

[1, 4, 9, 16, 25]

In [429]:
residents = {'Puffin' : 104, 'Sloth' : 105, 'Burmese Python' : 106}

print (residents['Puffin']) # Prints Puffin's room number

# Your code here!
print (residents["Sloth"])
print (residents["Burmese Python"])

104
105
106

In [440]:
def FrequencyMap(atcatcatc, atc):
    freq = {}
    n = len(Text)
    for i in range(n-k+1):
        Pattern = Text[i:i+k]
        freq[Pattern] = 0
    # hint: your code goes here!
    return freq
print (FrequencyMap(k))

TypeError: FrequencyMap() missing 1 required positional argument: 'atc'

In [471]:
men = {} # Empty dictionary
men['Chicken Alfredo'] = 14.50 # Adding new key-value pair
print (men['Chicken Alfredo'])

# Your code here: Add some dish-price pairs to menu!
men['tacos'] = 15.00
men ['gel'] = 2.00
men ['soda']= 1.00

print ("There are " + str(len(menu)) + " items on the menu.")
print (menu)

14.5
There are 4 items on the menu.
{'Chicken Alfredo': 14.5, 'tacos': 15.0, 'gel': 2.0, 'soda': 1.0}

In [482]:
zoo_animals = {
  'Unicorn' : 'Cotton Candy House',
  'Sloth' : 'Rainforest Exhibit',
  'Bengal Tiger' : 'Jungle House',
  'Atlantic Puffin' : 'Arctic Exhibit',
  'Rockhopper Penguin' : 'Arctic Exhibit'
}
# A dictionary (or list) declaration may break across multiple lines

# Removing the 'Unicorn' entry. (Unicorns are incredibly expensive.)
del zoo_animals['Unicorn']

# Your code here!
del zoo_animals['Sloth'] 
del zoo_animals['Bengal Tiger']
#del zoo_animals ['Rockhopper Penguin' : 'Antartica']


print (zoo_animals)

{'Atlantic Puffin': 'Arctic Exhibit', 'Rockhopper Penguin': 'Arctic Exhibit'}

In [508]:
inventory = {
  'gold' : 500,
  'pouch' : ['flint', 'twine', 'gemstone'], # Assigned a new list to 'pouch' key
  'backpack' : ['xylophone','dagger', 'bedroll','bread loaf']
}

# Adding a key 'burlap bag' and assigning a list to it
inventory['burlap bag'] = ['apple', 'small ruby', 'three-toed sloth']

# Sorting the list found under the key 'pouch'
inventory['pouch'].sort() 

# Your code here
inventory['pocket']=['seashell', 'strange berry', 'lint']
inventory['backpack'].sort()
inventory['backpack'].remove('dagger')
inventory['gold'] = inventory['gold'] + 50
print (inventory)

{'gold': 550, 'pouch': ['flint', 'gemstone', 'twine'], 'backpack': ['bedroll', 'bread loaf', 'xylophone'], 'burlap bag': ['apple', 'small ruby', 'three-toed sloth'], 'pocket': ['seashell', 'strange berry', 'lint']}

In [513]:
Text = "ATCTTATCTTATCGGATCTCATCAAATCGGATCCCATCATC"
Pattern = "ATC"
count = 0

for i in range(len(Text)-len(Pattern)+1):
        if Text[i:i+len(Pattern)] == Pattern:
            count = count+1 
            print (count)

1
2
3
4
5
6
7
8
9

In [554]:
Text = "TGATGATATATCCATAGCGATGA"
k= 3

def FrequencyMap(Text, k):
    freq = {}
    n = len(Text)
    for i in range(n-k+1):
        Pattern = Text[i:i+k]
        freq[Pattern] = 0
        count = 0        
        for i in range(n-k+1):
            if Text[i:i+k] == Pattern:
                count = count+1
            freq[Pattern] = count
    return freq
FrequencyMap(Text,int(k))

{'TGA': 3,
 'GAT': 3,
 'ATG': 2,
 'ATA': 3,
 'TAT': 2,
 'ATC': 1,
 'TCC': 1,
 'CCA': 1,
 'CAT': 1,
 'TAG': 1,
 'AGC': 1,
 'GCG': 1,
 'CGA': 1}

In [551]:
def FrequencyMap(Text, k):
    freq = {}
    n=len(Text)
    for i in range(n-k+1):
        Pattern=Text[i:i+k]
        freq[Pattern] = 0
        count=0
        for i in range(n-k+1):
            if Pattern == Text[i:i+k]:
                count=count + 1
            freq[Pattern]=count
    return freq
FrequencyMap("CGATATATCCATAG",3)

{'CGA': 1,
 'GAT': 1,
 'ATA': 3,
 'TAT': 2,
 'ATC': 1,
 'TCC': 1,
 'CCA': 1,
 'CAT': 1,
 'TAG': 1}

In [555]:
def FrequencyMap(Text, k, maxfreq):
    freq = {}
    maxfreqlist = []
    n = len(Text)
    i = 0
    for i in range(n-k+1):
        Pattern = Text[i:i+k]
        if Pattern not in freq:
            freq[Pattern] = 1
        elif Pattern in freq:
            freq[Pattern] += 1
    for Pattern in freq:
        if freq[Pattern] <= maxfreq:
            maxfreqlist.append(Pattern)
    return maxfreqlist

In [20]:
R = {'Jack', "rum", "pearl", 'barbosa'}

Aye = f'Hi {R['Jack'], do you have R['rum']. Where R['pearl']. Is R['barbosa'] alive?',}
#f'Do you have {P}',
# f'Where is the {Q}.'
#f' Is {u} alive?'
      #)
print(Aye)

SyntaxError: f-string: unmatched '[' (4038256733.py, line 3)

In [22]:
def FrequentWord(Text, k):
    word[]
    freq = FrequencyMap(Text, k)
    m=max(freq.values())
    for key in freq:
        if freq[key] == m

IndentationError: expected an indented block (3328731815.py, line 6)

In [23]:
def FrequentWords(Text, k):
    words = []
    freq = FrequencyMap(Text, k)
    m = max(freq.values())
    for key in freq:
        if freq[key] == m:
            pattern = key
            words.append(pattern)
    return words

def FrequencyMap(Text, k):
    freq = {}
    n = len(Text)
    for i in range(n-k+1):
        Pattern = Text[i:i+k]
        freq[Pattern] = 0
        for j in range(n-k+1):
            if Pattern == Text[j:j+k]:
                freq[Pattern] += 1
    return freq

In [46]:
 def countfrequency(my_list):
    freq= {}
    for items in (my_list):
        if (items in freq):
            freq[items]+= 1
        else:
            freq[items]= 1
    for key, value in freq.items():
        print ("% d : % d"%(key, value))
if __name__ == "__main__":
    my_list =[1, 1, 1, 5, 5, 3, 1, 3, 3, 1, 4, 4, 4, 2, 2, 2, 2, 10, 10]
 
    countfrequency(my_list)

 1 :  5
 5 :  2
 3 :  3
 4 :  3
 2 :  4
 10 :  2

In [51]:
def Jack(rum_drinking_days):
    Days={}
    for OldMonk in (rum_drinking_days):
        if (OldMonk in Days):
            Days[OldMonk]+=1
        else:
            Days[OldMonk]=1
    
    for key, value in Days.OldMonk():
        print ("% d : % d"%(key, value))
if __name__ == "__main__":
    rum_drinking_days =[1, 1, 1, 5, 5, 3, 1, 3, 3, 1, 4, 4, 4, 2, 2, 2, 2, 10, 10]
 
    countfrequency(rum_drinking_days)

 1 :  5
 5 :  2
 3 :  3
 4 :  3
 2 :  4
 10 :  2

In [1]:
import pandas as pd
import matplotlib as plt
import matplotlib.pyplot as plt
import numpy as np 
import seaborn as sns

In [2]:
df= pd.read_excel('C:\\Users\\rratnappan\\Documents\\Confera\\Attachment07_DevConfirmationSampleSummary.xlsx')
df.head()

,nDNASampleName,Plate#,LCInput(ng),Yield(ng),AT_Dropout,GC_Dropout,Mapped_Reads,Predicted_Gender,Proper_Pair,SD_Methyl_Position_Bias,Mean_Unique_Coverage,Conversion_E\nff,ccmf_perfect,ctDNA_detected,Included in\nStudy Analysis if\npass
0,PL002081,Plate4,12.40,187.4,5.924052,0.046,"5,00,398,909",Male,92.46,0.02592,10.533,0.9940,0.000110,False,Specificity_longit
1,PL002215,Plate4,7.25,101.7,10.132838,0.000,"5,79838163",Male,73.58,0.02066,8.448,0.9941,0.000129,False,longit
2,PL003167,Plate4,10.30,301.5,10.308737,0.018,"4,37853452",Male,89.74,0.02414,9.385,0.9938,0.000032,False,Specificity_longit
3,PL003305,Plate4,10.95,172.1,7.497906,0.027,"5,8750551",Male,85.61,0.01975,9.726,0.9938,0.000053,False,Specificity_longit
4,PL003343,Plate4,15.65,519.7,7.764377,0.058,"4,33470070",Male,92.42,0.02164,10.124,0.9945,0.000035,False,Specificity_longit

In [17]:
df.row(8)

AttributeError: 'DataFrame' object has no attribute 'row'

In [19]:
# Function to search by column name
def search_by_Predicted_Gender():
    Predicted_Gender = input("Predicted_Gender : ")
    DF = df
    
    for row in df:
        if Predicted_Gender in row[7]:
            print(row)

            
def search_by_ctDNA_detected():
    ctDNA_detected = input("ctDNA : ")
    DF = df
    
    for row in df:
        if ctDNA_detected in row[13]:
            print(row)

print('Enter 1 to search by Gender')
print('Enter 2 to search by ctDNA_detected')


src  = int(input ('Enter_here: '))
if src == 1:
    search_by_Predicted_Gender()
elif src == 2:
    search_by_Predicted_Gender()
else:
    print ("Sorry")

Enter 1 to search by Gender
Enter 2 to search by ctDNA_detected
Enter_here: 1
Predicted_Gender : Male

IndexError: string index out of range

In [2]:
from xlsxwriter import Workbook
import pandas as pd
import openpyxl
import glob
import os

In [7]:
for files in os.listdir('C:/Users/rratnappan/Documents/Test_Data_Python/Precision'):
    print (files)

0-Plate1-F1L_Confera_CAM_precision_plate2.merged_results.csv
4-230224_A01216_0235_BHCHMMDSX5.0.7.2.results.csv

In [10]:
os.chdir('C:/Users/rratnappan/Documents/Test_Data_Python/Precision')
for files in os.listdir('C:/Users/rratnappan/Documents/Test_Data_Python/Precision'):
    print(files)
    file = pd.read_csv(files)
    print(file)

0-Plate1-F1L_Confera_CAM_precision_plate2.merged_results.csv
                       sample  Unnamed: 1  Unnamed: 2  Unnamed: 3  wig_suffix  \
0    ORD-0908729-01_0p5_Rep-1         NaN         NaN         NaN         NaN
1    ORD-0908729-01_0p5_Rep-2         NaN         NaN         NaN         NaN
2      ORD-0908729-01_1_Rep-1         NaN         NaN         NaN         NaN
3      ORD-0908729-01_1_Rep-2         NaN         NaN         NaN         NaN
4   ORD-0908729-01_Neat_Rep-1         NaN         NaN         NaN         NaN
..                        ...         ...         ...         ...         ...
59   ORD-1121288-03_0p5_Rep-1         NaN         NaN         NaN         NaN
60                   PMC-1_A1         NaN         NaN         NaN         NaN
61                   PMC-2_A2         NaN         NaN         NaN         NaN
62      ScreenedHD_Neat_Rep-1         NaN         NaN         NaN         NaN
63      ScreenedHD_Neat_Rep-2         NaN         NaN         NaN         NaN

    ichor_suffix  cna_detectable  cna_extent  cna_extent_clonal  \
0      allstates           False    0.000000           0.000000
1      allstates           False    0.000000           0.000000
2      allstates           False    0.000000           0.000000
3      allstates           False    0.000000           0.000000
4   clonalstates            True    0.164154           0.164154
..           ...             ...         ...                ...
59     allstates           False    0.000000           0.000000
60     allstates           False    0.000000           0.000000
61     allstates           False    0.000000           0.000000
62     allstates           False    0.000000           0.000000
63     allstates           False    0.000000           0.000000

    cna_tumor_fraction  ...  ccuf_majority  ccmf_majority  ccmf_near_perfect  \
0               0.0000  ...       0.998013       0.001987           0.000234
1               0.0000  ...       0.998683       0.001317           0.000146
2               0.0000  ...       0.998451       0.001550           0.000034
3               0.0000  ...       0.998260       0.001740           0.000258
4               0.9524  ...       0.976408       0.023592           0.002012
..                 ...  ...            ...            ...                ...
59              0.0000  ...       0.997116       0.002884           0.000979
60              0.0000  ...       0.996846       0.003154           0.000738
61              0.0000  ...       0.997134       0.002866           0.000625
62              0.0000  ...       0.998295       0.001705           0.000215
63              0.0000  ...       0.998367       0.001633           0.000238

    ccmf_perfect  ccmf_threshold  ctDNA_methylation_detected  is_pmc  qc_pass  \
0       0.000093        0.000308                       False   False     True
1       0.000037        0.000308                       False   False     True
2       0.000000        0.000308                       False   False     True
3       0.000064        0.000308                       False   False     True
4       0.000700        0.000308                        True   False     True
..           ...             ...                         ...     ...      ...
59      0.000363        0.000308                        True   False     True
60      0.000134        0.000321                       False    True     True
61      0.000104        0.000321                       False    True     True
62      0.000108        0.000308                       False   False     True
63      0.000136        0.000308                       False   False     True

    ctDNA_detected  pmc_pass
0            False       NaN
1            False       NaN
2            False       NaN
3            False       NaN
4             True       NaN
..             ...       ...
59            True       NaN
60           False      True
61           False      True
62           False       NaN
63           False       NaN

[64 rows x 85 columns]
4-230224_A01216_0235_BHCHMMDSX5.0.7.2.results.csv
                         sample_name                 Unnamed: 1  \
0    ORD-0908729-01_0p5_Rep-1_Plate4                        NaN
1    ORD-0908729-01_0p5_Rep-2_Plate4                        NaN
2      ORD-0908729-01_1_Rep-1_Plate4                        NaN
3      ORD-0908729-01_1_Rep-2_Plate4                        NaN
4   ORD-0908729-01_Neat_Rep-1_Plate4                        NaN
..                               ...                        ...
57  ORD-1121288-01_Neat_Rep-2_Plate4  ORD-1121288-01_Neat_Rep-2
58     ORD-1121288-02_1_Rep-1_Plate4     ORD-1121288-02_1_Rep-1
59   ORD-1121288-03_0p5_Rep-1_Plate4   ORD-1121288-03_0p5_Rep-1
60              PMC_Neat_Rep1_Plate4              PMC_Neat_Rep1
61              PMC_Neat_Rep2_Plate4              PMC_Neat_Rep2

           sample_name-Plate4  Unnamed: 3  Unnamed: 4  Unnamed: 5  wig_suffix  \
0    ORD-0908729-01_0p5_Rep-1         NaN         NaN         NaN         NaN
1    ORD-0908729-01_0p5_Rep-2         NaN         NaN         NaN         NaN
2      ORD-0908729-01_1_Rep-1         NaN         NaN         NaN         NaN
3      ORD-0908729-01_1_Rep-2         NaN         NaN         NaN         NaN
4   ORD-0908729-01_Neat_Rep-1         NaN         NaN         NaN         NaN
..                        ...         ...         ...         ...         ...
57  ORD-1121288-01_Neat_Rep-2         NaN         NaN         NaN         NaN
58     ORD-1121288-02_1_Rep-1         NaN         NaN         NaN         NaN
59   ORD-1121288-03_0p5_Rep-1         NaN         NaN         NaN         NaN
60                   PMC-1_A1         NaN         NaN         NaN         NaN
61                   PMC-2_A2         NaN         NaN         NaN         NaN

    ichor_suffix  cna_detectable  cna_extent  ...  ccuf_majority  \
0      allstates           False    0.000000  ...       0.998387
1      allstates           False    0.000000  ...       0.998062
2      allstates           False    0.000000  ...       0.998131
3      allstates           False    0.000000  ...       0.998004
4   clonalstates            True    0.164154  ...       0.977175
..           ...             ...         ...  ...            ...
57     allstates            True    0.672320  ...       0.836540
58     allstates           False    0.000000  ...       0.994722
59     allstates           False    0.000000  ...       0.996647
60     allstates           False    0.000000  ...       0.996831
61     allstates           False    0.000000  ...       0.996261

    ccmf_majority  ccmf_near_perfect  ccmf_perfect  ccmf_threshold  \
0        0.001613           0.000107      0.000043        0.000308
1        0.001938           0.000145      0.000116        0.000308
2        0.001869           0.000106      0.000021        0.000308
3        0.001996           0.000338      0.000061        0.000308
4        0.022825           0.002463      0.000739        0.000308
..            ...                ...           ...             ...
57       0.163460           0.119665      0.076607        0.000308
58       0.005278           0.002808      0.001820        0.000308
59       0.003353           0.001341      0.000657        0.000308
60       0.003169           0.000839      0.000174        0.000321
61       0.003739           0.000728      0.000033        0.000321

    ctDNA_methylation_detected  is_pmc  qc_pass  ctDNA_detected  pmc_pass
0                        False   False     True           False       NaN
1                        False   False     True           False       NaN
2                        False   False     True           False       NaN
3                        False   False     True           False       NaN
4                         True   False     True            True       NaN
..                         ...     ...      ...             ...       ...
57                        True   False     True            True       NaN
58                        True   False     True            True       NaN
59                        True   False     True            True       NaN
60                       False    True     True           False      True
61                       False    True     True           False      True

[62 rows x 87 columns]