In [127]:
import json
import pandas as pd
#import numpy as np
#import matplotlib.pyplot as plt
#import seaborn as sns

In [128]:
with open("C:\\Users\\rratnappan\\Documents\\Test_Data_Python\\mutations.2022-08-25.json") as file:
    data = json.load(file)
    #print(data["gene_id"])
items = []
#for items in data:
    #items.append(items["gene_id"])
    #print(items)
print([data_item["vep_impact"] for data_item in data])

KeyError: 'vep_impact'

In [ ]:
with open("C:\\Users\\rratnappan\\Documents\\Test_Data_Python\\mutations.2022-08-25.json") as json_file:
    data = json.load(json_file)

In [ ]:

df=pd.read_json("C:\\Users\\rratnappan\\Documents\\Test_Data_Python\\mutations.2022-08-25.json")
path = "C:\\Users\\rratnappan\\Documents\\Test_Data_Python\\Mut2.csv"
df.to_csv(path)

In [129]:
import json
with open("C:\\Users\\rratnappan\\Documents\\Test_Data_Python\\json_data.json") as file:
    data = json.load(file)

    print(data)

{'web': {'languages': [{'id': '1', 'name': 'PHP', 'website': 'https://www.php.net/'}, {'id': '2', 'name': 'Python', 'website': 'https://www.python.org/'}, {'id': '3', 'name': 'Java', 'website': 'https://www.java.com/en/'}]}}

In [130]:
z= (data['web']['languages'][1])
#D=pd.Dataframe(z)
print(z)

{'id': '2', 'name': 'Python', 'website': 'https://www.python.org/'}

In [131]:
path = "C:\\Users\\rratnappan\\Documents\\Test_Data_Python\\jsontest.csv"
data.to_csv(path)

AttributeError: 'dict' object has no attribute 'to_csv'

In [239]:
df= pd.read_csv('C:\\Users\\rratnappan\\Documents\\Test_Data_Python\\Mut-2.csv')
#import collections

In [240]:
#df['Gene_Change']= df["Gene"] + df["genomic_dna_change"]

In [241]:
#Combined = df['Gene_Change']

In [242]:
#Combined

In [243]:
df = df.groupby(['Gene']).size().reset_index(name='count')
print (df)

        Gene  count
0       A1CF      9
1       ABI1      5
2       ABL1     10
3       ABL2     10
4      ACKR3      8
..       ...    ...
686   ZNF429     12
687   ZNF479      6
688   ZNF521     16
689    ZNRF3      9
690    ZRSR2      3

[691 rows x 2 columns]

In [226]:
Genes

        Gene    genomic_dna_change  count
0       A1CF  chr10:g.50813906delG      1
1       A1CF   chr10:g.50813932G>T      1
2       A1CF   chr10:g.50828193C>A      1
3       A1CF   chr10:g.50836094G>A      1
4       A1CF   chr10:g.50836177G>A      1
...      ...                   ...    ...
8477   ZNRF3   chr22:g.29049813C>T      1
8478   ZNRF3   chr22:g.29050513C>T      1
8479   ZRSR2    chrX:g.15790972G>A      1
8480   ZRSR2    chrX:g.15804195G>C      1
8481   ZRSR2    chrX:g.15823184G>T      1

[8482 rows x 3 columns]

In [246]:
Group = df.groupby(['Gene', ]).size().reset_index(name='count')
print (df)
Genes = df
print(Genes)

        Gene  count
0       A1CF      9
1       ABI1      5
2       ABL1     10
3       ABL2     10
4      ACKR3      8
..       ...    ...
686   ZNF429     12
687   ZNF479      6
688   ZNF521     16
689    ZNRF3      9
690    ZRSR2      3

[691 rows x 2 columns]
        Gene  count
0       A1CF      9
1       ABI1      5
2       ABL1     10
3       ABL2     10
4      ACKR3      8
..       ...    ...
686   ZNF429     12
687   ZNF479      6
688   ZNF521     16
689    ZNRF3      9
690    ZRSR2      3

[691 rows x 2 columns]

In [277]:
topmost= Genes.nlargest(50,['count'])

In [279]:
topmost
topmost.to_csv('C:\\Users\\rratnappan\\Documents\\Test_Data_Python\\Top50_NCI.csv')

In [271]:
import numpy as np
df= pd.read_csv('C:\\Users\\rratnappan\\Documents\\Test_Data_Python\\Mutated_Genes.csv')

In [272]:
G = df.groupby(['Gene', '# Mut', 'Profiled Samples' ]).size().reset_index(name='count')
print (G)

          Gene  # Mut  Profiled Samples  count
0         A1BG     13              2014      1
1         A1CF     21              3710      1
2          A2M     49              4697      1
3        A2ML1     60              4853      1
4      A3GALT2      1               216      1
...        ...    ...               ...    ...
18765   ZYG11A      7              3811      1
18766   ZYG11B     10              3767      1
18767      ZYX     11              3797      1
18768    ZZEF1     56              4438      1
18769     ZZZ3     27              4169      1

[18770 rows x 4 columns]

In [273]:
Top50= df.nlargest(50,['# Mut'])
Top50

,Gene,MutSig(Q-value),# Mut,#,Profiled Samples,Freq,Is Cancer Gene (source: OncoKB)
14014,PIK3CA,NaN,3862,3426,9785,35.00%,Yes
9271,TP53,NaN,3523,3407,9780,34.80%,Yes
9896,TTN,NaN,1286,857,4975,17.20%,No
2168,GATA3,NaN,1158,1115,9556,11.70%,Yes
14457,CDH1,NaN,1127,1106,9575,11.60%,Yes
15815,MAP3K1,NaN,1072,747,9466,7.90%,Yes
4020,MUC16,NaN,1062,838,7499,11.20%,No
4297,KMT2C,NaN,945,834,9611,8.70%,Yes
7748,AHNAK2,NaN,687,523,7400,7.10%,No
2646,SYNE1,NaN,662,553,7487,7.40%,No
16765,PTEN,NaN,553,495,9758,5.10%,Yes
12005,RYR2,NaN,497,425,7419,5.70%,No
7994,ARID1A,NaN,463,423,9568,4.40%,Yes
10667,USH2A,NaN,444,419,7308,5.70%,No
6970,KMT2D,NaN,433,394,9681,4.10%,Yes
16219,TBX3,NaN,421,381,9479,4.00%,Yes
8433,NCOR1,NaN,405,371,9550,3.90%,Yes
18089,NF1,NaN,404,362,9533,3.80%,Yes
10948,DNAH11,NaN,398,365,7371,5.00%,No
7432,AHNAK,NaN,376,321,6367,5.00%,No
17848,ESR1,NaN,354,311,6722,4.60%,Yes
17822,ERBB2,NaN,331,303,9739,3.10%,Yes
4148,DNAH5,NaN,330,287,7186,4.00%,No
13158,MAP2K4,NaN,326,322,9552,3.40%,Yes
13673,RUNX1,NaN,324,303,9205,3.30%,Yes
9621,AKT1,NaN,322,320,9343,3.40%,Yes
13677,CBFB,NaN,322,313,9417,3.30%,Yes
12343,HERC2,NaN,316,286,7412,3.90%,No
11393,DNAH2,NaN,307,277,6367,4.40%,No
6773,HMCN1,NaN,306,259,4956,5.20%,No
34,FLG,NaN,289,246,4840,5.10%,No
451,SPEN,NaN,289,228,7022,3.20%,Yes
2414,AKAP9,NaN,286,257,7246,3.50%,No
12495,BRCA2,NaN,284,244,9563,2.60%,Yes
8648,TG,NaN,271,253,7219,3.50%,No
5390,BIRC6,NaN,270,245,7303,3.40%,No
10304,APC,NaN,254,191,9571,2.00%,Yes
17255,MUC4,NaN,254,226,4803,4.70%,No
18432,NOTCH1,NaN,253,235,9572,2.50%,Yes
249,OBSCN,NaN,247,208,4731,4.40%,No
8556,PDE4DIP,NaN,247,217,7186,3.00%,Yes
16913,FOXA1,NaN,246,222,6875,3.20%,Yes
17537,RB1,NaN,246,225,9561,2.40%,Yes
10997,UTRN,NaN,239,229,7186,3.20%,No
1645,COL6A3,NaN,235,223,7301,3.10%,No
2047,SYNE2,NaN,234,191,4956,3.90%,No
12003,RYR3,NaN,228,191,4913,3.90%,No
17996,NEB,NaN,228,192,4715,4.10%,No
4129,DMD,NaN,227,185,4396,4.20%,No
16864,PTPRD,NaN,225,215,9557,2.20%,Yes

In [275]:
Top50.to_csv('C:\\Users\\rratnappan\\Documents\\Test_Data_Python\\Top50_cBioPortal.csv')

In [280]:
import glob
import os

In [285]:
files = os.path.join('C:\\Users\\rratnappan\\Documents\\Test_Data_Python\\Top50_cBioPortal\\Merged", "Top50*.csv')

In [286]:
files = glob.glob(files)

In [299]:
df1 = pd.read_csv('C:\\Users\\rratnappan\\Documents\\Test_Data_Python\\Top50_cBioPortal.csv')
df2 = pd.read_csv('C:\\Users\\rratnappan\\Documents\\Test_Data_Python\\Top50_NCI.csv')

In [300]:
print (df1)
print (df2)

       Gene  MutSig(Q-value)  # Mut     #  Profiled Samples    Freq  \
0    PIK3CA              NaN   3862  3426              9785  35.00%
1      TP53              NaN   3523  3407              9780  34.80%
2       TTN              NaN   1286   857              4975  17.20%
3     GATA3              NaN   1158  1115              9556  11.70%
4      CDH1              NaN   1127  1106              9575  11.60%
5    MAP3K1              NaN   1072   747              9466   7.90%
6     MUC16              NaN   1062   838              7499  11.20%
7     KMT2C              NaN    945   834              9611   8.70%
8    AHNAK2              NaN    687   523              7400   7.10%
9     SYNE1              NaN    662   553              7487   7.40%
10     PTEN              NaN    553   495              9758   5.10%
11     RYR2              NaN    497   425              7419   5.70%
12   ARID1A              NaN    463   423              9568   4.40%
13    USH2A              NaN    444   419              7308   5.70%
14    KMT2D              NaN    433   394              9681   4.10%
15     TBX3              NaN    421   381              9479   4.00%
16    NCOR1              NaN    405   371              9550   3.90%
17      NF1              NaN    404   362              9533   3.80%
18   DNAH11              NaN    398   365              7371   5.00%
19    AHNAK              NaN    376   321              6367   5.00%
20     ESR1              NaN    354   311              6722   4.60%
21    ERBB2              NaN    331   303              9739   3.10%
22    DNAH5              NaN    330   287              7186   4.00%
23   MAP2K4              NaN    326   322              9552   3.40%
24    RUNX1              NaN    324   303              9205   3.30%
25     AKT1              NaN    322   320              9343   3.40%
26     CBFB              NaN    322   313              9417   3.30%
27    HERC2              NaN    316   286              7412   3.90%
28    DNAH2              NaN    307   277              6367   4.40%
29    HMCN1              NaN    306   259              4956   5.20%
30      FLG              NaN    289   246              4840   5.10%
31     SPEN              NaN    289   228              7022   3.20%
32    AKAP9              NaN    286   257              7246   3.50%
33    BRCA2              NaN    284   244              9563   2.60%
34       TG              NaN    271   253              7219   3.50%
35    BIRC6              NaN    270   245              7303   3.40%
36      APC              NaN    254   191              9571   2.00%
37     MUC4              NaN    254   226              4803   4.70%
38   NOTCH1              NaN    253   235              9572   2.50%
39    OBSCN              NaN    247   208              4731   4.40%
40  PDE4DIP              NaN    247   217              7186   3.00%
41    FOXA1              NaN    246   222              6875   3.20%
42      RB1              NaN    246   225              9561   2.40%
43     UTRN              NaN    239   229              7186   3.20%
44   COL6A3              NaN    235   223              7301   3.10%
45    SYNE2              NaN    234   191              4956   3.90%
46     RYR3              NaN    228   191              4913   3.90%
47      NEB              NaN    228   192              4715   4.10%
48      DMD              NaN    227   185              4396   4.20%
49    PTPRD              NaN    225   215              9557   2.20%

   Is Cancer Gene (source: OncoKB)
0                              Yes
1                              Yes
2                               No
3                              Yes
4                              Yes
5                              Yes
6                               No
7                              Yes
8                               No
9                               No
10                             Yes
11                              No
12                             Yes
13                              No
14                             Yes
15                             Yes
16                             Yes
17                             Yes
18                              No
19                              No
20                             Yes
21                             Yes
22                              No
23                             Yes
24                             Yes
25                             Yes
26                             Yes
27                              No
28                              No
29                              No
30                              No
31                             Yes
32                              No
33                             Yes
34                              No
35                              No
36                             Yes
37                              No
38                             Yes
39                              No
40                             Yes
41                             Yes
42                             Yes
43                              No
44                              No
45                              No
46                              No
47                              No
48                              No
49                             Yes
      Gene  NCI-# of times-count
0     TP53                   264
1    MUC16                   201
2   MAP3K1                   140
3     CDH1                   135
4    KMT2C                   117
5    GATA3                   104
6   PIK3CA                    95
7     PTEN                    72
8     FAT3                    65
9     SPEN                    64
10   NCOR1                    62
11   CSMD3                    56
12     NF1                    55
13   LRP1B                    53
14  ARID1A                    52
15  MAP2K4                    50
16   AKAP9                    49
17    FAT1                    49
18   KMT2D                    47
19  RNF213                    46
20   BIRC6                    45
21    TBX3                    44
22    ATRX                    43
23    FAT4                    43
24   FOXA1                    43
25   RUNX1                    43
26    MYH9                    42
27   PTPRD                    40
28   PREX2                    39
29    CHD4                    38
30   KMT2A                    38
31  PIK3R1                    37
32    UBR5                    37
33    FLNA                    36
34   MED12                    36
35   ZFHX3                    36
36    CBFB                    35
37     APC                    33
38   PTPRB                    33
39     RB1                    33
40     ATM                    32
41   BRCA2                    31
42  NOTCH2                    30
43    AFDN                    29
44   KAT6B                    29
45    MUC4                    29
46   TRRAP                    29
47    ANK1                    28
48  FAM47C                    28
49    MTOR                    28

In [301]:
Outer_join = pd.merge(df1, df2, on = 'Gene', how = 'outer')

In [302]:
Outer_join.to_csv('C:\\Users\\rratnappan\\Documents\\Test_Data_Python\\NCI_cBioPortal.csv')