In [3]:
if 'Ramesh' in ['Ramesh', 't', 'x']:
    print('y')

y

In [7]:
a = 10
b = 12
c = 13

if (a > 20):
    print ('a greater than b')
    if (b>30):
        print ("b greater than a")
        if (c>20):
            print("b greater than c")
else:
    print ('looks good')

looks good

In [18]:
def Jack(Rum):
    if ( Rum > 10):
        return ("Sayeepu")
        
Jack(12)

'Sayeepu'

In [2]:
def DNA(ATG):
    if ATG in [ATGTAGTAAGATCAGGGGCTAGCT:
        return (giga)

DNA()

TypeError: DNA() missing 1 required positional argument: 'ATG'

In [42]:
def f(y):
    return y**2
f(100)

10000

In [53]:
def ing(prefix):
    return prefix + "ing"
ing('ten')

'tening'

In [62]:
i=0
for i in range (1, 1000):
     i = i+10
print(i)

1009

In [68]:
a = [10, 20, 300]
b = [1, 2, 3]
c = [1, 1, 1]

def sum(list):
    output = 0
    for i in range(len(list)):
        output += list[output]
        return(output)
sum(b)

1

In [1]:
import os
import xlrd
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import ntpath
import matplotlib as mpl
import glob
import requests
#import seq_Analysis_Fx as sq
from scipy import stats
import urllib.request
from xml.dom import minidom
#import alteration_analysis as alt
#import hamdist as ham

In [ ]:
samples['Source'] = 'PMC'
samples.loc[samples[~samples.index.str.contains('PMC')].index,'Source'] = samples[~samples.index.str.contains('PMC')].index.str.split('_').map(lambda x:x[0])
samples.loc[samples[samples['Source'].str.contains('1121288')].index,'Source'] = 'ORD-1121288-01'#correct sample name
samples = samples.merge(sample_TF,on='Source',how='left').set_index('Sample_Name')